body{
    background-color: hsl(0, 0%, 8%);
}
div{
    background-color: hsl(0, 0%, 12%);
border-radius: 10px;
width: 50%;
display: flex;
flex-direction: column;
  align-items: center; 
  height: 90vh;  
  width: 20%;
margin-left: 500px;
padding: 20px;
}

img{
    width: 30%;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
h2{
    font-family: sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}
h3{
    
    color: rgb(124, 183, 70);
    font-size: medium;
    font-family: sans-serif;
}

p{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: small;
font-weight: bold;
color: white;
}

.github{
    color: white;
    text-decoration: none;
    background-color: hsl(0, 0%, 20%);
    border-radius: 5px;
    width: 83%;
    text-align: center;
    padding: 5px;
    font-family: sans-serif;

}
.frontendmentor{
    margin: 7px;
    color: white;
    text-decoration: none;
    background-color: hsl(0, 0%, 20%);
    border-radius: 5px;
    width: 83%;
    text-align: center;
    padding: 5px;
    font-family: sans-serif;
}
.LinkedIn{
    margin: 7px;
    color: white;
    text-decoration: none;
    background-color: hsl(0, 0%, 20%);
    border-radius: 5px;
    width: 83%;
    text-align: center;
    padding: 5px;
    font-family: sans-serif;
}
.twitter{
    margin: 7px;
    color: white;
    text-decoration: none;
    background-color: hsl(0, 0%, 20%);
    border-radius: 5px;
    width: 83%;
    text-align: center;
    padding: 5px;
    font-family: sans-serif;
}
.instagram{
    margin: 7px;
    color: white;
    text-decoration: none;
    background-color: hsl(0, 0%, 20%);
    border-radius: 5px;
    width: 83%;
    text-align: center;
    padding: 5px;
    font-family: sans-serif;
}

footer{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin: 40px;
}
